    
@font-face {
    font-family: "SF-Hello";
    src: url("../fonts/SF-Hello.ttc");
    src: url("../fonts/SF-Hello.ttc") format("woff"),
        url("../fonts/SF-Hello.ttc") format("opentype"),
        url("../fonts/SF-Hello.ttc") format("svg"), 

}
        *{
            padding:0;
            margin:0;
            box-sizing:border-box; 
        }
        body{
             font-family: "SF-Hello", sans-serif !important; 
             
        }
        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
        }
        .header{
            /*background-color: #1c1c1c;*/
            padding:10px 0px;
            margin-top:40px;
        }
         .invoice{
            font-size: 14px;
            font-weight: 500;
            margin:0;
                text-transform: capitalize; 
        }
        .invoice  span{
            /*color: gray;*/
            font-size:12px;
            letter-spacing: 2px; 
        } 
          

        thead tr th{
            background: #000 !important;
            color: #ffcb08 !important;
        }
        
        .footer {
            background: #f6f6f6 !important;
            text-align:center;
            padding: 15px 0px;
            /*position:absolute;*/
            /*bottom:0;*/
            /*left:0;*/
            width:100%;
        }
        .content{
            margin: 20px auto;
        } 
 
        .bill_padding .invoice span{
         letter-spacing:1px;
        }
      
        .invoice_summary{
            font-size: 22px;
            font-weight: 500;
            text-transform: capitalize;
            margin-top:30px;  
            font-family: "SF-Hello", sans-serif !important; 
        }
        .navbar{
            margin-bottom:40px;
        }
        .title{ 
            font-size: 16px;
            font-weight: 700;
            margin-bottom:8px;
            text-transform: capitalize; 
        }
        
        .py-2{
            padding-bottom:5px;
        }
        table{
            width:100%;
        }

        td {
  vertical-align: top;
  font-size:16px; 
}
.table tr td ,.table tr th{
    border:1px solid #dedede;
    padding:7px;
    border-collapse: collapse;
}
.table{
    border:1px solid #dedede;
    border-radius: 20px !important;
}
.bg_stripped{
    background:#0000000d;
}
 
.bill_padding p{
    margin-bottom:3px;
}
.qr{
    height:150px;
}
.fw-bold{
    font-weight:bold;
}
.footer_contact{
      font-size:12px;
}
 .span{
            display:inline;
        }
        
 
 
 
 