

#spinner {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.spinner-appear {
    animation: spin 1s infinite linear;
    border: 4px solid #f2c343 !important;
    border-radius: 50%;
    border-top-color: #333 !important;
    display: block;
    height: 70px;
    width: 70px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#page {
    display: none;
}